@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Vazirmatn:wght@400;900&display=swap');

:root {
    --primary: #4F4557;
    --secondry: #393646;
    --night: #6D5D6E;
    --light: #F4EEE0;
    --text: #E5E7eb;
    --textcode: #E5E7eb90;
    --textbadg: #E5E7eb75;
    --badg: #00000050;
    --badgbor: #00000055;
    --code: #0007;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* width */
.scroll-bar::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
    background: #ffffff05;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background: #7785;
    transition: all 0.2s;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #5555;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--secondry);
    color: var(--text);
    direction: rtl;
    position: relative;
}

hr {
    width: 100%;
    margin-bottom: 1.5rem;
    opacity: 0.10;
}

main {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badgets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    align-items: stretch;
    color: var(--textbadg);
}

.badget {
    user-select: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    border: 2px solid var(--badgbor);
    background-color: var(--badg);
    transition: all 0.2s ease-in-out 0s;
}

.button {
    user-select: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--badgbor);
    background-color: var(--badg);
    transition: all 0.2s ease-in-out 0.001s;
}

.button:hover {
    color: var(--light);
}

.badget:hover {
    transform: scale(1.05);
}

.badget.select {
    border: 2px solid var(--light);
    color: var(--light);
}

.code {
    background: var(--code);
    color: var(--textcode);
    font-size: 22px;
    margin-top: 3rem;
    border-radius: 15px;
    direction: ltr;
    box-sizing: border-box;
    width: 800px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: stretch;
    height: 100px;
    padding: 0.25rem;
}

code {
    font-family: 'Ubuntu Mono', monospace;
    word-wrap: normal;
    width: 100%;
    padding: 1rem 2rem;
    overflow: auto;
}

.copy {
    background-color: #0005;
    border: none;
    height: 100%;
    width: 70px;
    color: var(--light);
    transition: all 0.2s ease-in-out 0s;
}

.copy:hover {
    color: #c084fc;
}

.anim-shake {
    animation: shake 500ms;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4rem;
    gap: 0.5rem;
}

.info-logo {
    width: 24px;
    height: 24px;
}

.info-logo:hover {
    animation: shake 500ms;
}

.github-logo {
    width: 48px;
    height: 48px;
}

.github-logo:hover {
    animation: shake 500ms;

}

.info-text {
    position: absolute;
    bottom: 1.2rem;
}


.link {
    color: #c084fc;
    text-decoration: none;
}